.AB-Transaction {
    margin: 4rem 2rem;
}

.AB-Transaction .AB-First-Transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.5rem;
    padding-left: 1.2rem;
}

.AB-Transaction .AB-First-Transaction .AB-First-Transaction-end {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.AB-Transaction .AB-First-Transaction .AB-title-Transaction h1 {
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
}

.AB-Transaction .AB-First-Transaction .AB-First-Transaction-end .AB-SelectDay-Transaction,
.AB-First-Transaction .AB-First-Transaction-end .AB-SelectDate-Transaction {
    border-radius: 1.25rem;
    background: #12181F;
    padding: 0.69rem 1.37rem 0.75rem 1.5rem;
}

.AB-Transaction .AB-First-Transaction .AB-First-Transaction-end .AB-SelectDay-Transaction button,
.AB-Transaction .AB-First-Transaction .AB-First-Transaction-end .AB-SelectDate-Transaction button {
    border: none;
    outline: none;
    background: none;
    display: flex;
    align-items: center;
    gap: 2.6rem;
    color: #C2C2C2;
    font-size: 0.875rem;
    font-weight: 400;
    cursor: pointer;
}

.AB-First-Transaction .AB-First-Transaction-end .AB-SelectDate-Transaction button {
    gap: 3.8rem;
}

.AB-First-Transaction .AB-First-Transaction-end .AB-TheFormSearch {
    position: relative;
}

.AB-First-Transaction .AB-First-Transaction-end #AB-searchInput-Transaction {
    border: none;
    outline: none;
    border-radius: 1.25rem;
    background: #12181F;
    width: 15.4375rem;
    height: 3rem;
    padding: 10px 10px 10px 60px;
    color: #C2C2C2;
    font-size: 0.875rem;
    font-weight: 400;
}

.AB-First-Transaction .AB-First-Transaction-end #AB-searchInput-Transaction::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.AB-First-Transaction .AB-First-Transaction-end .AB-TheFormSearch .AB-searchInput-Transaction-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.AB-First-Transaction .AB-First-Transaction-end .AB-TheFormSearch .AB-Container-FilterIcon {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(-4%, 8%);
}

.AB-First-Transaction .AB-First-Transaction-end .AB-TheFormSearch .AB-Container-FilterIcon button {
    border: none;
    outline: none;
    border-radius: 0.9375rem;
    background: #FB774A;
    width: 2.625rem;
    height: 2.625rem;
    cursor: pointer;
}