.bh-languageOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000099;
    top: 0;
    left: 0;
    z-index: 99;
}
.bh-language {
    width: 388px;
    background-color: #161D26;
    color: white;
    position: absolute;
    right: 0;
    z-index: 100;
    border-radius: 38px;
    right: 1rem;
    top: 5.8rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}
.bh-language::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 0.6rem solid transparent;
    border-bottom-color: #161D26;
    top: -1.1rem;
    left: 4rem;
}
.bh-language .bottomSec {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    padding-top: 1.5rem;
}
.bh-language .bottomSec .langugeBox {
    width: calc(100% /3);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.bh-language .bottomSec .flagContainer.active {
    border: 1px solid #41B983;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    position: relative;
}
.bh-language .bottomSec .flagContainer .selected {
    position: absolute;
    top: -0.3rem;
    right: -0.3rem;
    background-color: #161D26;
    display: none;
}
.bh-language .bottomSec .flagContainer.active .selected {
    display: block;
}
.bh-language .langugeBox .languageFlag {
    width: 45px;
    height: 45px;
}
.bh-language .langugeBox .languageName {
    font-size: 14px;
    padding-top: .3rem;
}
