.bh-PassFormWrapper {
    padding: 2rem;
}
.bh-PassFormWrapper .passFormWrapper .fieldsFormWrapper {
    padding: 1rem;
}
.bh-PassFormWrapper .passFormWrapper .fieldsFormWrapper.withBorder {
    border-bottom: 2px solid #12181F;
}
.bh-PassFormWrapper .passFormWrapper .passTitle {
    font-weight: 600;
    color: #A4A8AB;
    padding-bottom: 2rem;
}
.bh-PassFormWrapper .passwordInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 1rem;
}
.bh-PassFormWrapper .passBtn {
    width: 100px;
    height: 40px;
    color: #FFFFFF;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    background-color: #1C242E;
}
.bh-PassFormWrapper .passBtn.enable {
    background-color: #FB774A;
}
.bh-PassFormWrapper .submitRow,
.bh-PassFormWrapper .submitRow .submitBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bh-PassFormWrapper .submitRow {
    padding: 2rem 1rem;
}
.bh-PassFormWrapper .submitRow .submitBtns{
    gap: 1rem;
}
.bh-PassFormWrapper .submitRow .submitBtns button {
    width: 130px;
    border: none;
    cursor: pointer;
    padding: 1rem;
    border-radius: 16px;
    color: #FFFFFF;
}
.bh-PassFormWrapper .submitRow .submitBtns .securityCancel {
    background-color: #1C242E;
}
.bh-PassFormWrapper .submitRow .submitBtns .securitySave {
    background-color: #0CAF60;
}

@media (max-width: 1200px) {
    .bh-PassFormWrapper .passBtn {
        width: 80px;
    }
    .bh-securityInfo .bh-innerBox .passInfoPara {
        max-width: 210px;
    }
    .bh-PassFormWrapper .submitRow .submitBtns button {
        font-size: 12px;
    }
    .bh-PassFormWrapper .submitRow .submitBtns{
        gap: 0.5rem;
    }
    .bh-PassFormWrapper .submitRow {
        gap: 1rem;
    }
}